# Virtual environment
venv/
env/
*.pyc
__pycache__/

# Database
*.sqlite3
*.db

# Secret settings
.env
config/settings_local.py

# Django logs and compiled files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Ignore migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py

# VS Code and JetBrains IDE settings
.vscode/
.idea/
*.sublime-workspace

# Python dependencies
*.egg-info/
Pipfile
Pipfile.lock

# Node modules (if using frontend assets)
node_modules/
npm-debug.log
yarn.lock

# Docker
*.pid
